<section>
    <div class="m-10 p-10 flex bg-slate-900 rounded-3xl">
        <div class="text-white ">
            <h1 class="font-bold text-2xl mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p class="text-sm mb-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                velit eveniet quidem culpa, ut delectus officia vitae laborum
                eius distinctio, inventore temporibus voluptatum! Blanditiis
                enim explicabo assumenda! Sequi, delectus dignissimos? <br />
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                nisi magnam eius, sunt ipsum pariatur architecto ipsa delectus expedita
                illo asperiores? Consectetur sunt quis magni incidunt dolor earum
                consequatur soluta?
            </p>
            <div class="flex">
                <div>
                    <p class="font-bold mb-2">Lorem, ipsum.</p>
                    <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ducimus iure neque atque ipsum. Enim eos commodi odio officia odit.</p>
                </div>
                <div>
                    <p class="font-bold mb-2">Lorem, ipsum.</p>
                    <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ducimus iure neque atque ipsum. Enim eos commodi odio officia odit.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="flex mb-5">
                <a href="#">
                    <bottom class="text-white bg-blue-700 p-2 rounded-md">Lorem, ipsum.</bottom>
                </a>
                <a href="#">
                    <bottom class="text-blue-700 bg-white p-2 rounded-md">Lorem, ipsum.</bottom>
                </a>
            </div>
            <div class="h-full bg-black text-white flex justify-center items-center rounded-3xl p-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas officia. Sunt, asperiores iste! Aperiam suscipit, minus unde voluptatem fugit maiores cum consequatur repellendus blanditiis, aspernatur eligendi animi sunt quo provident possimus maxime dolores labore, modi in! Neque facilis repellat natus voluptatum aut eveniet possimus in voluptates quae recusandae beatae veniam, ut odit illo a ratione inventore minima. Tempora, obcaecati nemo? Quod nam tempora corporis repudiandae veniam, pariatur fugiat suscipit quae id dolorum consequatur quia provident natus illo autem commodi.
            </div>
        </div>
    </div>
</section>
