---
const codigoEjemplo = `
const modalOptions = {
    placement: 'bottom-right',
    backdrop: 'dynamic',
    backdropClasses: 'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40',
    onHide: () => {
        console.log('modal is hidden');
    },
    onShow: () => {
        console.log('modal is shown');
    },
    onToggle: () => {
        console.log('modal has been toggled');
    }
}
`;

// Reemplaza las llaves con su representación HTML
const codigoEjemploHTML = codigoEjemplo.replace(/(\{)/g, '&lbrace;').replace(/(\})/g, '&rbrace;');
---

<section>
    <div class="m-20 px-14 py-20 flex bg-slate-900 rounded-3xl gap-20 h-screen">
        <div class="text-white flex-grow flex-1">
            <p class="mb-2">Lorem input</p>
            <h1 class="font-bold text-5xl mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p class="text-sm mb-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                velit eveniet quidem culpa, ut delectus officia vitae laborum
                eius distinctio, inventore temporibus voluptatum! Blanditiis
                enim explicabo assumenda! Sequi, delectus dignissimos? <br /> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                nisi magnam eius, sunt ipsum pariatur architecto ipsa delectus expedita
                illo asperiores? Consectetur sunt quis magni incidunt dolor earum
                consequatur soluta?
            </p>
            <div class="flex">
                <div>
                    <p class="font-bold mb-2">Lorem, ipsum.</p>
                    <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ducimus iure neque atque ipsum. Enim eos commodi odio officia odit.</p>
                </div>
                <div>
                    <p class="font-bold mb-2">Lorem, ipsum.</p>
                    <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ducimus iure neque atque ipsum. Enim eos commodi odio officia odit.</p>
                </div>
            </div>
        </div>
        <div class="flex-1 ">
            <div class="flex mb-5">
                <a href="#">
                    <bottom class="text-white bg-blue-700 p-1 rounded-md">Lorem, ipsum.</bottom>
                </a>
                <a href="#">
                    <bottom class="text-blue-700 bg-white p-1 rounded-md">Lorem, ipsum.</bottom>
                </a>
            </div>
            <div class=" bg-slate-800  text-white flex justify-center items-center rounded-3xl p-5 h-full">
                <pre><code>{codigoEjemploHTML}</code></pre>
            </div>
        </div>
    </div>
</section>

<style>
    code {
    font-family: 'Courier New', Courier, monospace;
}
</style>
