---
import { Image } from "astro:assets";
---

<section>
    <div class="flex">
        <div  class="flex flex-col">
            <h1 class="text-2xl text-black">Lorem, ipsum.</h1>
            <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ut nemo vero quae, provident saepe doloremque quibusdam odio eos officiis ex fugiat quos! Asperiores fuga sit aperiam laborum rem maxime?</p>
            <h2>Lorem, ipsum.</h2>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>

            <h2>Lorem, ipsum.</h2>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
        </div>
    </div>
</section>