<footer class="text-gray-700 flex justify-between items-center w-full mx-auto lg:w-[720px] py-10">
    <span >
        © 2024 <a href="hub.com/JulianLopez2709" class="text-blue-900 hover:text-blue-800">Julián López</a>
    </span>
    <ul class="gap-x-4 flex">
        <li >
            <a href="#sobre-mi">sobre mí</a>
        </li>
        <li >
            <a href="">Contacto</a>
        </li>
    </ul>
</footer>