---
---

<header class={`flex justify-center items-center py-4 m-auto  text-white`}>
    <nav class="text-sm flex justify-between items-center  gap-x-5 p-2">
        <a href="#experience">Experiencia</a>
        <a href="#proyecto">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#contacto">Contactame</a>
    </nav>
</header>

<style>
    a:hover{
        color:  #1e40af;
        transition: ease 200ms;
    }

</style>
