---
---

<header class="flex justify-between items-center lg:mx-24 py-4  mx-auto text-white">
    <img
        class="h-12 w-12 rounded-full"
        src="https://avatars.githubusercontent.com/u/106407495?…00&u=27a734169fba8cf704448430d8c40da1edfa51e1&v=4"
        alt="Logo Avatar GitHub"
    />

    <nav class="flex flex-row gap-x-10">
        <a href="#top">Inicio</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#experience">Experiencia</a>
        <a href="#proyecto">Proyectos</a>
        <a href="#contacto">Contactame</a>
    </nav>
</header>

<style>
    a:hover{
        color:  #1e40af;
        transition: ease 0.5s;
    }

</style>
