---
import Container from "../Container.astro";
---

<section id="pricing" class="relative z-10 bg-primary overflow-hidden lg:py-[115px] py-20 bg-slate-900">
    <Container>

    <div class="container mx-auto">
        <div class="relative overflow-hidden">
            <div class="flex flex-wrap -mx-4 items-stretch">
                <div class="w-full px-4">
                    <div class="text-center mx-auto max-w-[570px]">
                        <h2
                            class="font-bold text-3xl text-white mb-2.5 md:leading-[1.44] md:text-[38px]"
                        >
                            <span>What Are You Looking For?</span><span
                                class="font-normal text-3xl md:text-[40px]"
                            >
                                Get Started Now</span>
                        </h2><p
                            class="text-base text-white mx-auto leading-[1.5] max-w-[515px] mb-6"
                        >
                            There are many variations of passages of Lorem Ipsum
                            but the majority have suffered in some form.
                        </p><a
                            href="javascript:void(0)"
                            class="text-base font-medium text-white bg-blue-700 hover:bg-blue-800 hover:scale-x-105 rounded-md py-3 px-7 inline-block transition bg-secondary border border-transparent"
                            >Start Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div><div>
        <span class="absolute top-0 left-0"
            ><svg
                height="470"
                viewBox="0 0 495 470"
                width="495"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><circle
                    cx="55"
                    r="138"
                    cy="442"
                    stroke="white"
                    stroke-opacity="0.04"
                    stroke-width="50"></circle><circle
                    cx="446"
                    r="39"
                    stroke="white"
                    stroke-opacity="0.04"
                    stroke-width="20"></circle><path
                    d="M245.406 137.609L233.985 94.9852L276.609 106.406L245.406 137.609Z"
                    stroke="white"
                    stroke-opacity="0.08"
                    stroke-width="12"></path></svg
            ></span
        ><span class="absolute right-0 bottom-0"
            ><svg
                height="470"
                viewBox="0 0 493 470"
                width="493"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><circle
                    cx="462"
                    r="138"
                    cy="5"
                    stroke="white"
                    stroke-opacity="0.04"
                    stroke-width="50"></circle><circle
                    cx="49"
                    r="39"
                    cy="470"
                    stroke="white"
                    stroke-opacity="0.04"
                    stroke-width="20"></circle><path
                    d="M222.393 226.701L272.808 213.192L259.299 263.607L222.393 226.701Z"
                    stroke="white"
                    stroke-opacity="0.06"
                    stroke-width="13"></path></svg
            ></span>
    </div>
</Container>

</section>
