---
import Container from "../Container.astro";
---

<section id="pricing" class="bg-slate-900" >
    <Container>
        <div class="w-full py-20 text-white">
            pricing
        </div>
    </Container>
</section>