---
import CardProjects from "../CardProjects.astro";
import Container from "../Container.astro";
---

<section class="py-16 h-full" id="projects">
    <Container>
        <div class="w-full flex flex-col justify-center items-center">
            <h1 class="font-bold text-4xl w-1/2 text-center mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </h1>
            <p class="text-sm mb-7">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            <div class="flex justify-between items-center max-w-3xl">
                <CardProjects />
            </div>
        </div>
    </Container>
</section>
