---
import Container from "../Container.astro";

const listTecnologies = [
    {
        path: "/astro.svg",
        label: "astro",
    },
    {
        path: "/kotlin.svg",
        label: "kotlin",
    },
    {
        path: "/ktor.svg",
        label: "ktor",
    },
    {
        path: "/tailwind.svg",
        label: "tailwind",
    },
];
---

<section class="border-b-2 border-gray-400 text-gray-500">
    <Container>
        <div class="flex items-center justify-between gap-5 py-5">
            <p class="max-w-40 text-sm">
                Equipo de trabajo, herramientas y diferentes tecnologias
            </p>
            {
                listTecnologies.map((item) => (
                    <a>
                        <img
                            src={item.path}
                            alt={item.label}
                            height="70"
                            width="70"
                        />
                    </a>
                ))
            }
        </div>
    </Container>
</section>
