---
    import Container from "./Container.astro"
---

<section class="w-full bg-slate-900" id="about">
    <Container>
        <div class="flex-row justify-center items-center ">
            <h1 class="text-white text-3xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores facere minima aliquid dolores mollitia beatae. Accusamus nihil officia vitae maiores?</p>
            <div class="bg-white rounded ">
                <input type="text" placeholder="Enter your business">
                <button class="bg-blue-700 rounded">Start yout free</button>
            </div>
        </div>
    </Container>
</section>
