---
let isTurn = false;

const listProjects = [
    {
        img: "/desing-mockup.jpg",
        title: "Lorem ipsum dolor",
        description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis aperiam pariatur quam? Doloribus, nobis ducimus.",
    },
    {
        img: "/desing-mockup.jpg",
        title: "Lorem ipsum dolor",
        description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis aperiam pariatur quam? Doloribus, nobis ducimus.",
    },
    {
        img: "/desing-mockup.jpg",
        title: "Lorem ipsum dolor",
        description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis aperiam pariatur quam? Doloribus, nobis ducimus.",
    },
    {
        img: "/desing-mockup.jpg",
        title: "Lorem ipsum dolor",
        description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis aperiam pariatur quam? Doloribus, nobis ducimus.",
    },
    {
        img: "/desing-mockup.jpg",
        title: "Lorem ipsum dolor",
        description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis aperiam pariatur quam? Doloribus, nobis ducimus.",
    },
];
---

<div class="flex-col justify-center items-start">
    {
        listProjects.map((item, index) => (
            <div
                class={`grid justify-center items-start grid-cols-5 `}
            >
                <div class={`col-span-2 ${isTurn ? "order-last" : ""}`  }>
                    <img
                        src={item.img}
                        alt={item.title}
                        class="rounded-xl w-[400px] h-[200px] mb-10"
                    />
                </div>

                <div class={` flex justify-center items-center ${isTurn ? "order-3" : ""}`}>
                    <ol class="relative text-gray-500 border-2 h-60">
                        <li class="">
                            <span class="absolute flex items-center justify-center w-6 h-6 rounded-full top-0 -start-3 bg-blue-500 text-white">
                                {index + 1}
                            </span>
                        </li>
                    </ol>
                </div>

                <div class={`${(isTurn = !isTurn)} col-span-2`}>
                    <h2 class="font-bold text-lg mb-5">{item.title}</h2>
                    <p class="text-xs">{item.description}</p>
                </div>
            </div>
        ))
    }
</div>
