---
import { Image } from "astro:assets";

let isTurn = false;

const listProjects = [
    {
        img: "/desing-mockup.webp",
        title: "Sabemos sobre Ti",
        description:
            "Nos tomamos el tiempo para entender tus necesidades y objetivos específicos, permite personalizar nuestros servicios para satisfacer tus requerimientos únicos, asegurando una colaboración efectiva y resultados exitosos.",
    },
    {
        img: "/Website.webp",
        title: "Diseño Original y Atractivo",
        description:
            "Creamos un diseño único y atractivo para tu página de aterrizaje, asegurando que se destaque entre la competencia. Nuestro enfoque en el diseño centrado en el usuario (UX) garantiza una experiencia óptima para tus clientes.",
    },
    {
        img: "/programming.webp",
        title: "Desarrollo de Código Avanzado",
        description:
            "Utilizamos las últimas herramientas y tecnologías en el desarrollo de código, garantizando que tu página de aterrizaje esté al día con las tendencias actuales. Esto no solo mejora el rendimiento y la funcionalidad de tu sitio, sino que también asegura su compatibilidad con una variedad de dispositivos y navegadores.",
    },
    {
        img: "/feedback.webp",
        title: "Retroalimentación Constante",
        description:
            "Mantenemos una comunicación abierta y constante contigo durante todo el proceso. Esta retroalimentación continua nos permite ajustar y refinar nuestro trabajo para asegurarnos de que estés completamente satisfecho con el resultado final. Tu opinión es fundamental para nosotros.",
    },
    {
        img: "/finish.webp",
        title: "Entrega Final y Capacitación",
        description:
            "Te entregamos el código fuente de tu página de aterrizaje, junto con una explicación detallada sobre cómo puedes actualizar y mejorar tu servicio en el futuro.",
    },
];

const sizeList = listProjects.length;
---

<div class="flex-col justify-center items-start">
    {
        listProjects.map((item, index) => (
            <div class={`grid justify-center items-start grid-cols-5 `}>
                <div class={`col-span-2 ${isTurn ? "order-last" : ""}`}>
                    <img
                        src={item.img}
                        alt={item.title}
                        class="rounded-xl w-[300] h-[150] md:w-[400px] md:h-[200px] mb-10"
                    />
                </div>

                <div
                    class={` flex justify-center items-center h-full ${isTurn ? "order-3" : ""}`}
                >
                    <ol
                        class={`relative text-gray-500 border-2 h-full sm:h-60 ${sizeList == index + 1 ? "border-none" : ""}`}
                    >
                        <li class="">
                            <span class="absolute flex items-center justify-center w-6 h-6 rounded-full top-0 -start-3 bg-blue-500 text-white">
                                {index + 1}
                            </span>
                        </li>
                    </ol>
                </div>

                <div class={`${(isTurn = !isTurn)} col-span-2`}>
                    <h2 class="font-bold text-base md:text-lg mb-5">
                        {item.title}
                    </h2>
                    <p class="text-xs mb-5">{item.description}</p>
                </div>
            </div>
        ))
    }
</div>
