---
import Container from "./Container.astro";
---

<footer class="bg-blue-700 text-white py-24">
    <Container>
        <div class="w-full">
            footer
        </div>
    </Container>
</footer>