---
import Container from "./Container.astro";

const menuItem = [
    /*{
        title: "About",
        path: "/#about",
    },*/
    {
        title: "Servicio",
        path: "/#projects",
    },
    {
        title: "Contacto",
        path: "/#contact",
    },
];
const {subTitle} = Astro.props

---

<header class="w-full bg-slate-900 ">
    <nav class="w-full flex justify-between text-white p-5">
        <a href="/" class="uppercase text-3xl"
            ><span class="font-bold">loolopez</span><span
                class="text-purple-700 text-2xl">{subTitle}</span
            ></a
        >
        <ul class="gap-6 hidden items-center lg:flex">
            {
                menuItem.map((item) => (
                    <li>
                        <a class="hover:text-gray-300 transition" href={item.path}>{item.title}</a>
                    </li>
                ))
            }
            <a href="#contact">
                <button class="p-2 ml-4 bg-blue-700 hover:bg-blue-800 hover:scale-105 transition text-center rounded">
                    Empieza Ahora
                </button>
            </a>
        </ul>
    </nav>
</header>
