---
import Container from "./Container.astro";

const menuItem = [
    {
        title: "About",
        path: "/#about",
    },
    {
        title: "Project",
        path: "/#projects",
    },
    {
        title: "Contact",
        path: "/#contact",
    },
];
---

<header class="w-full bg-slate-900 ">
    <nav class="w-full flex justify-between text-white p-5">
        <a href="/" class="uppercase text-3xl"
            ><span class="font-bold">loolopez</span><span
                class="text-purple-700 text-2xl">web</span
            ></a
        >
        <ul class="gap-6 hidden items-center lg:flex">
            {
                menuItem.map((item) => (
                    <li>
                        <a href={item.path}>{item.title}</a>
                    </li>
                ))
            }
            <button class="p-2 ml-4 bg-blue-700 hover:bg-blue-800 hover:scale-105 transition text-center rounded">
                Start Know
            </button>
        </ul>
    </nav>
</header>
