---
import Container from "./Container.astro";

const menuItem = [
    {
        title: "About",
        path: "/#about",
    },
    {
        title: "Project",
        path: "/#projects",
    },
    {
        title: "Contact",
        path: "/#contact",
    },
];
---

<header class="bg-slate-900 w-full">
    <nav class="w-full flex justify-between text-white p-5">
            <h1 class="uppercase text-3xl"><span class="font-bold">loolopez</span><span class="text-purple-700 text-2xl">web</span></h1>
            <ul class="gap-6 flex items-center">
                {
                    menuItem.map(item => (
                        <li>
                            <a href={item.path}>{item.title}</a>
                        </li>
                    ))
                }
                <button class="p-2 ml-4 bg-blue-700 text-center rounded">
                    Start Demo
                </button>
            </ul>
    </nav>
</header>
