---
import Container from "../components/Container.astro";
const key_form = import.meta.env.ACCESS_KEY_FORM;
---

<section class="flex justify-center items-center" id="contact">
        <div
                class="w-full flex flex-col justify-center items-center my-14 max-w-screen-md">
                <h1 class="font-bold text-3xl md:text-5xl mb-3 text-center">
                        Contacta con Nuestro Equipo
                </h1>
                <p class="text-center mb-5 w-4/5 text-gray-500 text-base md:text-xl">
                        ¡Conecta con nosotros para impulsar tu proyecto con éxito!
                </p>
                <div class="w-full px-5 lg:px-28">
                        <form method="POST" id="form">

                                <input type="hidden" name="access_key" value={key_form}>

                                <div class="flex gap-5 w-full mb-3">
                                        <div class="flex flex-col w-full">
                                                <label for="" class="mb-1"
                                                        >First name</label
                                                >
                                                <input
                                                        autocomplete="off"
                                                        name="firstName"
                                                        class="border-2 border-gray-300 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-700 hover:border-blue-500"
                                                        type="text"
                                                        placeholder="First name"
                                                        required
                                                />
                                        </div>
                                        <div class="flex flex-col w-full">
                                                <label for="" class="mb-1"
                                                        >Last name</label
                                                >
                                                <input
                                                        autocomplete="off"
                                                        name="lastName"
                                                        class="focus:outline-none focus:border-blue-700 hover:border-blue-500 border-2 border-gray-300 rounded-md w-full px-3 py-2"
                                                        type="text"
                                                        placeholder="Last name"
                                                        required
                                                />
                                        </div>
                                </div>
                                <div class="flex flex-col mb-3">
                                        <label for="">Email</label>
                                        <input
                                                autocomplete="off"
                                                name="email"
                                                class="focus:outline-none focus:border-blue-700 hover:border-blue-500 border-2 border-gray-300 rounded-md w-full px-3 py-2"
                                                type="email"
                                                placeholder="you@company.com"
                                                required
                                        />
                                </div>
                                <div class="flex flex-col mb-3">
                                        <label for="">Phone Number</label>
                                        <input
                                                autocomplete="off"
                                                name="phoneNumber"
                                                class="focus:outline-none focus:border-blue-700 hover:border-blue-500 border-2 border-gray-300 rounded-md w-full px-3 py-2"
                                                type="number"
                                                placeholder="+1 (555) 000-0000"
                                        />
                                </div>
                                <div class="flex flex-col mb-3">
                                        <label for="">Message</label>
                                        <textarea
                                                autocomplete="off"
                                                name="message"
                                                rows="4"
                                                class="focus:outline-none focus:border-blue-700 hover:border-blue-500 border-2 border-gray-300 rounded-md w-full px-3 py-2"
                                                placeholder="leave us a message..."
                                        ></textarea>
                                </div>
                                <div class="flex flex-col mb-3">
                                        <p class="mb-2">Servicios</p>
                                        <div class="flex gap-10">
                                                <div
                                                        class="flex flex-col gap-2"
                                                >
                                                        <div class="flex">
                                                                <input
                                                                        name="webDesign"
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >Website
                                                                        design</label
                                                                >
                                                        </div>
                                                        <div class="flex">
                                                                <input
                                                                        name="uxDesign"
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >UX
                                                                        design</label
                                                                >
                                                        </div>
                                                        <div class="flex">
                                                                <input
                                                                        name="userResearch"
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >User
                                                                        research</label
                                                                >
                                                        </div>
                                                </div>
                                                <div
                                                        class="flex flex-col gap-2"
                                                >
                                                        <div class="flex">
                                                                <input
                                                                        name="contentCreation"
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >Content
                                                                        creation</label
                                                                >
                                                        </div>
                                                        <div class="flex">
                                                                <input
                                                                        name="stategyConsulting"
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >Stategy
                                                                        &
                                                                        consulting</label
                                                                >
                                                        </div>
                                                        <div class="flex">
                                                                <input
                                                                        name="other"
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >Other</label
                                                                >
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <button
                                        class="w-full bg-blue-700 hover:bg-blue-800 p-2 rounded-md text-white"
                                        type="submit"
                                        id="result"
                                >
                                        Enviar mensaje
                                </button>
                        </form>
                </div>
        </div>
</section>

<script is:inline>
        const form = document.getElementById("form");
        const result = document.getElementById("result");

        form.addEventListener("submit", function (e) {
                const formData = new FormData(form);
                e.preventDefault();

                const object = Object.fromEntries(formData);
                const json = JSON.stringify(object);

                result.innerHTML = "Enviado...";

                fetch("https://api.web3forms.com/submit", {
                        method: "POST",
                        headers: {
                                "Content-Type": "application/json",
                                Accept: "application/json",
                        },
                        body: json,
                })
                        .then(async (response) => {
                                let json = await response.json();
                                if (response.status == 200) {
                                        result.innerHTML = "Correo Enviado Exitosamente!";
                                } else {
                                        console.log(response);
                                        result.innerHTML = json.message;
                                }
                        })
                        .catch((error) => {
                                console.log(error);
                                result.innerHTML = "Something went wrong!";
                        })
                        .then(function () {
                                form.reset();
                                setTimeout(() => {
                                        result.style.display = "none";
                                }, 2000);
                        });
        });
</script>
