---
import Container from "../components/Container.astro";
---

<section class="flex justify-center items-center" id="contact">
        <div
                class="w-full flex flex-col justify-center items-center my-14 max-w-screen-md"
        >
                <h1 class="font-bold text-3xl md:text-5xl mb-3 text-center">
                        Contacta con Nuestro Equipo
                </h1>
                <p
                        class="text-center mb-5 w-4/5 text-gray-500 text-base md:text-xl"
                >
                        ¡Conecta con nosotros para impulsar tu proyecto con éxito!
                </p>
                <div class="w-full px-5 lg:px-28">
                        <form action="flex flex-col w-full">
                                <div class="flex gap-5 w-full mb-3">
                                        <div class="flex flex-col w-full">
                                                <label for="" class="mb-1"
                                                        >First name</label
                                                >
                                                <input
                                                        name="firstName"
                                                        class="border-2 border-gray-300 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-700 hover:border-blue-500"
                                                        type="text"
                                                        placeholder="First name"
                                                />
                                        </div>
                                        <div class="flex flex-col w-full">
                                                <label for="" class="mb-1"
                                                        >Last name</label
                                                >
                                                <input
                                                        name="lastName"
                                                        class="focus:outline-none focus:border-blue-700 hover:border-blue-500 border-2 border-gray-300 rounded-md w-full px-3 py-2"
                                                        type="text"
                                                        placeholder="Last name"
                                                />
                                        </div>
                                </div>
                                <div class="flex flex-col mb-3">
                                        <label for="">Email</label>
                                        <input
                                                name="email"
                                                class="focus:outline-none focus:border-blue-700 hover:border-blue-500 border-2 border-gray-300 rounded-md w-full px-3 py-2"
                                                type="email"
                                                placeholder="you@company.com"
                                                required
                                        />
                                </div>
                                <div class="flex flex-col mb-3">
                                        <label for="">Phone Number</label>
                                        <input
                                                name="phoneNumber"
                                                class="focus:outline-none focus:border-blue-700 hover:border-blue-500 border-2 border-gray-300 rounded-md w-full px-3 py-2"
                                                type="number"
                                                placeholder="+1 (555) 000-0000"
                                        />
                                </div>
                                <div class="flex flex-col mb-3">
                                        <label for="">Message</label>
                                        <textarea
                                                name="message"
                                                class="focus:outline-none focus:border-blue-700 hover:border-blue-500 border-2 border-gray-300 rounded-md w-full px-3 py-2"
                                                placeholder="leave us a message..."
                                        >
                                        </textarea>
                                </div>
                                <div class="flex flex-col mb-3">
                                        <p class="mb-2">Servicios</p>
                                        <div class="flex gap-10">
                                                <div
                                                        class="flex flex-col gap-2"
                                                >
                                                        <div class="flex">
                                                                <input
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >Website
                                                                        design</label
                                                                >
                                                        </div>
                                                        <div class="flex">
                                                                <input
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >UX
                                                                        design</label
                                                                >
                                                        </div>
                                                        <div class="flex">
                                                                <input
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >User
                                                                        research</label
                                                                >
                                                        </div>
                                                </div>
                                                <div
                                                        class="flex flex-col gap-2"
                                                >
                                                        <div class="flex">
                                                                <input
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >Content
                                                                        creation</label
                                                                >
                                                        </div>
                                                        <div class="flex">
                                                                <input
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >Stategy
                                                                        &
                                                                        consulting</label
                                                                >
                                                        </div>
                                                        <div class="flex">
                                                                <input
                                                                        type="checkbox"
                                                                />
                                                                <label
                                                                        for=""
                                                                        class="px-2"
                                                                        >Other</label
                                                                >
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <button
                                        class="w-full bg-blue-700 hover:bg-blue-800 p-2 rounded-md text-white"
                                >
                                        Enviar mensaje
                                </button>
                        </form>
                </div>
        </div>
</section>
