---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src//icons/favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- <div class="absolute h-full w-full bg-slate-900"><div class="absolute left-0 right-0 top-0 h-96 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div></div> -->
		<Navbar />
		<slot />
		<Footer />
		<a
			id="bottomUp"
			href="#"
			class="hidden  duration-300 back-to-top bg-blue-700 hover:bg-blue-800  bottom-8 ease-in-out fixed h-10 hover:bg-dark items-center justify-center left-auto right-8 rounded-md shadow-md text-white transition-all w-10 z-[999]"  
			><span
				class="border-t border-l border-white h-3 mt-[6px] rotate-45 w-3"
			></span></a
		>
	</body>
</html>

<style is:global>
	html {
		overflow-x: hidden;
		scroll-behavior: smooth;
	}
</style>

<script>
	const bottomUp = document.querySelector("#bottomUp")
	window.addEventListener('scroll', ()=>{
		if(window.scrollY > 205) {
		bottomUp.classList.add('flex')
		bottomUp.classList.remove('hidden')

	}else {
		bottomUp.classList.add('hidden')
		bottomUp.classList.remove('flex')
	}
	})
	
</script>
